<div class="card text-center" style="margin-top: 110px;">
  <div class="card-body">
    <img src="../assets/Group 4132.png" alt="" />
    <h1 style="margin-top: -90px">order placed successfully</h1>
    <br /><br />
    <br /><br />
    <p class="card-text">
      hurray!!! your order is confirmed <br />
      the order id is #123456 save the order id for <br />
      further communication..
    </p>
    <br /><br />
    <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Email us</th>
            <th style="width: 30%">Contact us</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>admin@bookstore.com</td>
            <td>+91 8163475881</td>
            <td>
              42, 14th Main, 15th Cross, Sector 4 ,opp to BDA <br />
              complex, near Kumarakom restaurant, HSR Layout, <br />
              Bangalore 560034
            </td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary" routerLink="/books">CONTINUE SHOPPING</a>
    </div>
  </div>
</div>
