mat-card {
  margin-top: 20px;
}

.example-card {
  /* max-width: 1000px; */
  margin-bottom: 8px;
  /* margin-left: 50px; */
}

/* button{
      margin-top: 100px;
     
  } */

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

/* mat-expansion-panel{
      width: 1000px;
      margin-left: 50px;
      margin-right: 50px;
      
  } */

.form-check-inline {
  margin-right: 100px;
}

.buttonplace {
  margin-top: 20px;
  float: right;
}

p {
  font-family: Lato;
}

mat-radio-button {
  margin-left: 20px;
  margin-right: 60px;
}
